<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jon Smock" />
   <!-- link href="http://feeds.feedburner.com/jon-smock" rel="alternate" title="Jon Smock" type="application/atom+xml" / -->

   <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
</head>
<body>

<h1><a href="/">Jon Smock</a></h1>

<div>
  {{ content }}
</div>

</body>
</html>
